* {
	box-sizing: border-box;
}

:root {
	/* Fonts */
	/* --font-heading: "Roboto", sans-serif;
	--font-body: "Open Sans", sans-serif; */
	--font-marmelad: "Marmelad", sans-serif;
	/* normal version */
	--font-lex-exa: "Lexend Exa", sans-serif;
	/* stretched version */
	--font-lex-zet: "Lexend Zetta", sans-serif;

	/* text Heading, Sub heading, body */
	--font-heading: var(--font-lex-zet);
	--font-sub-heading: var(--font-marmelad);
	--font-body: var(--font-marmelad);

	/* Font Sizes */
	--font-size-xxs: 1.2rem;
	--font-size-xs: 1.4rem;
	--font-size-s: 1.6rem;
	--font-size-m: 1.8rem;
	--font-size-l: 2rem;
	--font-size-xl: 2.2rem;
	--font-size-xxl: 2.8rem;

	/* Line Heights */
	--line-height-xs: 1.2;
	--line-height-s: 1.4;
	--line-height-m: 1.6;
	--line-height-l: 1.8;
	--line-height-xl: 2;
	--line-height-xxl: 2.2;

	/* Font Weights, t-shirt sizes */
	--font-weight-light: 300;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
	--font-weight-black: 900;

	/* Colors */
	--color-off-white: #fbf5ff;
	--color-purple: #893dec;
	--color-purple-overlay: rgba(137, 61, 236, 0.2);
	--color-purple-dark: #493a55;
	--color-purple-light: #8e46ed;
	--color-charcoal: #141010;
	--color-dark-grey: #2b2b2b;
	--color-light-grey: #c6c0ca;

	/* Opacity */
	--opacity-10: 0.1;
	--opacity-20: 0.2;
	--opacity-30: 0.3;
	--opacity-100: 1;

	/* Spacing */
	--spacing-xxs: 0.25rem;
	--spacing-xs: 0.5rem;
	--spacing-s: 1rem;
	--spacing-m: 1.5rem;
	--spacing-l: 2rem;
	--spacing-xl: 3rem;
	--spacing-xxl: 4rem;

	/* Border radius */
	--border-radius-small: 0.25rem;
	--border-radius-medium: 0.5rem;
	--border-radius-large: 1rem;
	--border-radius-full: 999999px;

	/* Wrapper */
	--wrapper-max-width: 1400px;
}

html {
	/* font-size: 62.5%; */
	font-size: 16px;
	font-family: var(--font-body);
}

body {
	background-color: var(--color-charcoal);
	color: var(--color-off-white);
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}

/* headings h1 - h3 using variables for font sizes, line heights, font weights, margin  */
h1 {
	font-size: var(--font-size-xxl);
	font-family: var(--font-lex-zet);
	line-height: var(--line-height-xs);
	font-weight: var(--font-weight-black);
	margin: var(--spacing-xxl) 0 var(--spacing-l);
}

h2 {
	font-size: var(--font-size-xxl);
	line-height: var(--line-height-s);
	font-weight: var(--font-weight-black);
	margin: var(--spacing-m) 0 var(--spacing-l);
}

h3 {
	font-size: var(--font-size-l);
	line-height: var(--line-height-xs);
	font-weight: var(--font-weight-bold);
	margin: var(--spacing-m) 0;
}

p {
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	margin: var(--spacing-s) 0;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

.wrapper {
	margin: 0 auto;
	max-width: var(--wrapper-max-width);
	padding: var(--spacing-xxl) var(--spacing-m);
}

header {
	color: var(--color-off-white);
	padding: var(--spacing-s);
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.header-wrapper {
	display: flex;
	background-color: var(--color-charcoal);
	max-width: var(--wrapper-max-width);
	margin: 0 auto;
	padding: var(--spacing-m) var(--spacing-l);
	position: relative;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border-radius: var(--border-radius-full);
}

.header-wrapper .logo {
	fill: var(--color-off-white) !important;
}

.header-wrapper .logo-text {
	font-size: var(--font-size-s);
	font-family: var(--font-lex-zet);
	font-weight: var(--font-weight-black);
	margin: 0;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	gap: var(--spacing-m);
}

.logo-subtext {
	display: none;
	font-size: var(--font-size-xxs);
}

nav {
	flex: 1;
	position: absolute;
	top: 120px;
	right: var(--spacing-m);
}

nav ul.nav-items {
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: flex-end;
	margin: 0;
	padding: var(--spacing-l) var(--spacing-m);
	background-color: var(--color-charcoal);
	gap: var(--spacing-s);
	border-radius: var(--border-radius-medium);
}

nav ul.nav-items li {
	display: flex;
	flex-flow: column;
	text-align: center;
}

nav ul.nav-items li a {
	color: var(--color-off-white);
	font-family: var(--font-lex-exa);
	text-decoration: none;
	padding: var(--spacing-xs) var(--spacing-m);
	border: 1px solid var(--color-off-white);
	border-radius: var(--border-radius-full);
}

.hamburger-menu {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

.hamburger-menu div {
	width: 2rem;
	height: 0.25rem;
	background: currentColor;
}

@media (max-width: 1024px) {
	.hamburger-menu {
		display: flex;
	}

	#mobile-nav {
		display: none;
	}
}

.section-highlight {
	background-color: var(--color-purple);
	color: var(--color-off-white);
	padding: var(--spacing-m);
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--color-purple);
	color: var(--color-off-white);
	padding: var(--spacing-xxxl) var(--spacing-s);
	text-align: center;
	min-height: 90vh;
	background-image: url("/assets/svgs/bigger-vector.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

.hero .wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-banner-wrapper {
	position: relative;
	height: 300px;
}

.hero-banner {
	background-color: var(--color-light-grey);
	position: absolute;
	display: flex;
	justify-content: center;
	top: 0%;
	width: 100%;
	text-align: center;
	color: var(--color-charcoal);
	overflow: hidden;
	height: 100px;
	z-index: 10;
}

.hero-banner ul {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.left-banner {
	transform: rotate(-4deg);
}

.right-banner {
	transform: rotate(4deg);
}

.hero-banner li {
	opacity: 0;
	position: absolute;
	white-space: nowrap;
	font-size: var(--font-size-xxl);
	font-weight: var(--font-weight-bold);
	font-family: var(--font-lex-zet);
}

.section-row {
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	padding: var(--spacing-xxl) var(--spacing-xl);
	gap: var(--spacing-xl);
}

.section-row h2 {
	margin-top: 0;
}

.section-row .image-wrapper {
	border-radius: var(--border-radius-large);
	overflow: hidden;
	max-height: 400px;
}

.section-row .image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mission {
	padding-bottom: 150px;
}

/* Details */
.section-details {
	background-color: var(--color-purple);
	color: var(--color-off-white);
	text-align: center;
}

.details-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-xl) var(--spacing-m);
	margin-bottom: var(--spacing-xxl);
	gap: var(--spacing-m);
}

details {
	width: 100%;
	background-color: var(--color-purple-overlay);
	/* transition: background-color 0.3s; */
}

details summary {
	background-color: var(--color-purple-light);
	border-radius: var(--border-radius-full);
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	font-family: var(--font-lex-zet);
	font-weight: var(--font-weight-black);
	font-size: var(--font-size-m);
	line-height: var(--line-height-xs);
	letter-spacing: var(--letter-spacing-xs);
	cursor: pointer;
	padding: var(--spacing-s) var(--spacing-m);
	transition: all 0.4s;
}

details summary::-webkit-details-marker,
details summary::marker {
	display: none;
}

details summary span {
	margin: 0 var(--spacing-m);
}

details summary .icon {
	width: 60px;
	height: 60px;
	transition: all 0.4s;
}

details summary .icon path {
	fill: var(--color-off-white);
}

details[open] summary,
details:hover summary {
	color: var(--color-charcoal);
	background-color: var(--color-off-white);
}

details[open] summary .icon {
	transform: rotate(45deg);
}
details:hover summary .icon path,
details[open] summary .icon path {
	fill: var(--color-charcoal);
}

details p {
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	padding: var(--spacing-m) var(--spacing-l);
	max-width: 90%;
	text-align: left;
}

/* case study */
.case-study h2 {
	text-align: center;
	margin: 0 auto;
}

.case-study-img {
	width: 50%;
}

.text-align-pi {
	text-align: center;
	margin: 0 auto;
	max-width: 100%;
	padding-top: 60px;
	padding-bottom: 20px;
}

/* Trish Code start */

.details-pi {
	background-color: transparent;
}

.details-pi p {
	max-width: 100%;
	text-align: right;
}

.project {
	padding-top: 30px;
}

.project-information {
	max-width: 100%;
}

.card {
	width: 100%;
}

/* targeting the image in the card */
.card img {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 15px;
	border-radius: 30px;
	width: 100%;
	max-width: 100%;
}

/* the details under the project card */
.project-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.h-pd {
	text-align: left !important;
	font-family: var(--font-lex-exa);
}

/* the links under the project card */
.link-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 40px;
}

.link-container a {
	display: flex;
	align-items: center;
	gap: 10px;
}
/* Trish code end */

/* team members */
.team-members {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--spacing-m);
}
.team-members li {
	background-color: var(--color-purple-light);
	border-radius: var(--border-radius-large);
	display: flex;
	flex-direction: row;
	padding: var(--spacing-m);
	flex-basis: 1 1 100%;
	flex-grow: 1;
}

.team-members li .image-wrapper {
	border-radius: var(--border-radius-full);
	border: 2px solid var(--color-off-white);
	margin-bottom: var(--spacing-m);
	width: 200px;
	height: 200px;
	overflow: hidden;
	flex-basis: 200px;
}

.team-members li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.team-members li .person-text {
	display: flex;
	flex-direction: column;
	padding: var(--spacing-m) var(--spacing-l);
}

.team-members li h3 {
	font-size: var(--font-size-l);
	font-weight: var(--font-weight-bold);
	margin: 0;
}

.team-members li p {
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	margin: var(--spacing-xs) 0;
	max-width: 100%;
}

/* Modal */

/* overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.17);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
}

/* positioning for body to stop scroll when modal is open */
.fixed {
	overflow: hidden;
}

.send-back {
	z-index: unset;
}

/* Team Member Modal */
.modal {
	width: 90%;
	max-width: 1200px;
	height: fit-content;
	max-height: 95vh;
	margin: 0 auto;
	padding: var(--spacing-m);
	background: var(--color-purple-light);
	border-radius: var(--border-radius-large);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.close-btn {
	align-self: flex-end;
	padding: var(--spacing-s);
}

.close-btn:hover {
	cursor: pointer;
}

.modal-img-box {
	margin-top: -50px;
}
.modal-img {
	width: 150px;
	height: 150px;
	border: 5px white solid;
	border-radius: 50%;
	object-fit: cover;
}

.modal h2 {
	font-size: var(--font-size-m);
	margin: 0;
	text-align: center;
}

.modal h3 {
	font-size: var(--font-size-s);
	font-weight: var(--font-weight-light);
	text-align: center;
	padding: var(--spacing-xs);
	background-color: rgba(0, 0, 0, 0.105);
	border-radius: var(--border-radius-medium);
}

.modal-scroll {
	overflow-y: scroll;
	padding: var(--spacing-s);
	border-radius: var(--border-radius-medium);
	/* background-color: #7f00d6; */
}

.modal-scroll p {
	max-width: none;
}

.modal-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	background-color: transparent;
}

.modal-scroll::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

.modal-scroll::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: var(--color-light-grey);
}

.hidden {
	display: none;
}

.section-form {
	text-align: center;
	background-color: var(--color-purple);
	background-image: url("/assets/svgs/bigger-vector.svg");
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--color-off-white);
	padding: var(--spacing-xxl) var(--spacing-m);
}

.heading-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: var(--spacing-xxl) 0 var(--spacing-l);
}

.heading-centered h2,
.heading-centered p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.footer-wrapper {
	display: flex;
	flex-flow: column;
	justify-content: center;
	background-color: var(--color-purple-dark);
	font-family: var(--font-lex-exa);
	font-weight: var(--font-weight-bold);
	color: var(--color-off-white);
	padding: var(--spacing-m);
	text-align: center;
}

footer span {
	font-size: var(--font-size-xxs);
}

footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-m);
}

footer a {
	color: var(--color-off-white);
	text-decoration: none;
}

@keyframes marquee {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

/*  Phone and Larger */
@media screen and (min-width: 375px) {
	.hero {
		padding: var(--spacing-xxl) var(--spacing-xs);
	}
}

/* Tablet & Larger */
@media screen and (min-width: 768px) {
	.hero {
		padding: var(--spacing-xxl) var(--spacing-m);
	}

	.section-row {
		flex-direction: row;
	}

	.section-row .image-wrapper {
		max-height: none;
	}

	details summary {
		font-size: var(--font-size-xl);
	}

	.team-members li {
		flex-basis: calc(33.333% - var(--spacing-m));
	}
}

/* Desktop */
@media screen and (min-width: 1024px) {
	h2 {
		max-width: 80%;
	}

	p {
		max-width: 70%;
	}

	.header-wrapper .logo-text {
		font-size: var(--font-size-xl);
		letter-spacing: var(--letter-spacing-xs);
		text-align: left;
	}

	nav {
		position: static;
		flex: 0;
	}

	nav ul.nav-items {
		flex-direction: row;
		padding: 0;
		justify-content: flex-end;
	}

	nav ul.nav-items li a {
		border: none;
		padding: 0 var(--spacing-xs);
	}

	.hero {
		padding: var(--spacing-xxl) var(--spacing-l);
	}
	/* Trish code start */

	/* the entire section */
	.project {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		/* gap: 60px;
		margin-bottom: 30px; */
	}

	/* the card on the dark gray background */
	.card {
		max-width: 50%;
	}
	/* the image on the card */
	.card img {
		border-radius: 30px;
	}

	/* the information write up */
	.project-information {
		max-width: 50%;
	}
	/* Trish code end */

	.team-members li {
		flex-basis: calc(50% - var(--spacing-m));
		/* flex-grow: 0; */
	}

	.footer-wrapper {
		flex-flow: row;
		justify-content: space-between;
	}
}
