* {
	box-sizing: border-box;
}

:root {
	/* Fonts */
	/* --font-heading: "Roboto", sans-serif;
	--font-body: "Open Sans", sans-serif; */
	--font-marmelad: "Marmelad", sans-serif;
	/* normal version */
	--font-lex-exa: "Lexend Exa", sans-serif;
	/* stretched version */
	--font-lex-zet: "Lexend Zetta", sans-serif;

	/* text Heading, Sub heading, body */
	--font-heading: var(--font-lex-zet);
	--font-sub-heading: var(--font-marmelad);
	--font-body: var(--font-marmelad);

	/* Font Sizes */
	--font-size-xxs: 1.2rem;
	--font-size-xs: 1.4rem;
	--font-size-s: 1.6rem;
	--font-size-m: 1.8rem;
	--font-size-l: 2rem;
	--font-size-xl: 2.2rem;
	--font-size-xxl: 2.8rem;

	/* Line Heights */
	--line-height-xs: 1.2;
	--line-height-s: 1.4;
	--line-height-m: 1.6;
	--line-height-l: 1.8;
	--line-height-xl: 2;
	--line-height-xxl: 2.2;

	/* Font Weights, t-shirt sizes */
	--font-weight-light: 300;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
	--font-weight-black: 900;

	/* Colors */
	--color-off-white: #fbf5ff;
	--color-purple: #893dec;
	--color-purple-overlay: rgba(137, 61, 236, 0.2);
	--color-purple-dark: #493a55;
	--color-purple-light: #8e46ed;
	--color-charcoal: #141010;
	--color-dark-grey: #2b2b2b;
	--color-light-grey: #c6c0ca;

	/* Opacity */
	--opacity-10: 0.1;
	--opacity-20: 0.2;
	--opacity-30: 0.3;
	--opacity-100: 1;

	/* Spacing */
	--spacing-xxs: 0.25rem;
	--spacing-xs: 0.5rem;
	--spacing-s: 1rem;
	--spacing-m: 1.5rem;
	--spacing-l: 2rem;
	--spacing-xl: 3rem;
	--spacing-xxl: 4rem;

	/* Border radius */
	--border-radius-small: 0.25rem;
	--border-radius-medium: 0.5rem;
	--border-radius-large: 1rem;
	--border-radius-full: 999999px;

	/* Wrapper */
	--wrapper-max-width: 1400px;
}

html {
	/* font-size: 62.5%; */
	font-size: 16px;
	font-family: var(--font-body);
}

body {
	background-color: var(--color-charcoal);
	color: var(--color-off-white);
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}

/* headings h1 - h3 using variables for font sizes, line heights, font weights, margin  */
h1 {
	font-size: var(--font-size-xxl);
	font-family: var(--font-lex-zet);
	line-height: var(--line-height-xs);
	font-weight: var(--font-weight-black);
	margin: var(--spacing-xxl) 0 var(--spacing-l);
}

h2 {
	font-size: var(--font-size-xxl);
	line-height: var(--line-height-s);
	font-weight: var(--font-weight-black);
	margin: var(--spacing-m) 0 var(--spacing-l);
	max-width: 80%;
}

h3 {
	font-size: var(--font-size-l);
	line-height: var(--line-height-xs);
	font-weight: var(--font-weight-bold);
	margin: var(--spacing-m) 0;
}

p {
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	margin: var(--spacing-s) 0;
	max-width: 70%;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

.wrapper {
	margin: 0 auto;
	max-width: var(--wrapper-max-width);
	padding: var(--spacing-xxl) var(--spacing-m);
}

header {
	color: var(--color-off-white);
	padding: var(--spacing-s);
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.header-wrapper {
	display: flex;
	background-color: var(--color-charcoal);
	max-width: var(--wrapper-max-width);
	margin: 0 auto;
	padding: var(--spacing-m) var(--spacing-l);
	justify-content: space-between;
	align-items: center;
	border-radius: var(--border-radius-full);
}

.header-wrapper img {
	padding-right: var(--spacing-m);
}

.header-wrapper .logo-text {
	font-size: var(--font-size-l);
	font-family: var(--font-lex-zet);
	font-weight: var(--font-weight-black);
	margin: 0;
}

nav {
	flex: 1;
}

nav ul {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}

nav ul li {
	margin-right: var(--spacing-m);
}

nav ul li a {
	color: var(--color-off-white);
	font-family: var(--font-lex-exa);
	text-decoration: none;
}

.section-highlight {
	background-color: var(--color-purple);
	color: var(--color-off-white);
	padding: var(--spacing-m);
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--color-purple);
	color: var(--color-off-white);
	padding: var(--spacing-xxxl) var(--spacing-s);
	text-align: center;
	min-height: 90vh;
	background-image: url("/assets/svgs/bigger-vector.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

.hero .wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-banner-wrapper {
	position: relative;
	height: 300px;
}

.hero-banner {
	background-color: var(--color-light-grey);
	position: absolute;
	display: flex;
	justify-content: center;
	top: 0%;
	width: 100%;
	text-align: center;
	color: var(--color-charcoal);
	overflow: hidden;
	height: 100px;
	z-index: 10;
}

.hero-banner ul {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.left-banner {
	transform: rotate(-4deg);
}

.right-banner {
	transform: rotate(4deg);
}

.hero-banner li {
	opacity: 0;
	position: absolute;
	white-space: nowrap;
	font-size: var(--font-size-xxl);
	font-weight: var(--font-weight-bold);
	font-family: var(--font-lex-zet);
}

.section-row {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	gap: var(--spacing-xl);
}

.section-row h2 {
	margin-top: 0;
}

.section-row .image-wrapper {
	border-radius: var(--border-radius-large);
	overflow: hidden;
}

.section-row .image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mission {
	padding-bottom: 150px;
}

/* Details */
.section-details {
	background-color: var(--color-purple);
	color: var(--color-off-white);
	text-align: center;
}

.details-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--spacing-xl) var(--spacing-m);
	margin-bottom: var(--spacing-xxl);
	gap: var(--spacing-m);
}

details {
	width: 100%;
	background-color: var(--color-purple-overlay);
	padding: var(--spacing-s) var(--spacing-m);
	transition: background-color 0.3s;
}

details summary {
	background-color: var(--color-purple-light);
	border-radius: var(--border-radius-full);
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: var(--font-lex-zet);
	font-weight: var(--font-weight-black);
	font-size: var(--font-size-xl);
	line-height: var(--line-height-xl);
	cursor: pointer;
	padding: var(--spacing-s) var(--spacing-m);
	transition: all 0.4s;
}

details summary::-webkit-details-marker,
details summary::marker {
	display: none;
}

details summary span {
	margin-right: var(--spacing-s);
}

details summary img {
	width: 60px;
	height: 60px;
	transition: all 0.4s;
}

details[open] summary,
details:hover summary {
	color: var(--color-charcoal);
	background-color: var(--color-off-white);
}

details[open] summary img {
	fill: var(--color-charcoal);
	transform: rotate(45deg);
}

details p {
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	padding: var(--spacing-m) var(--spacing-l);
	max-width: 90%;
	text-align: left;
}

/* case study */
.case-study h2 {
	text-align: center;
	margin: 0 auto;
}

.case-study img {
	width: 50%;
}

.text-align {
	text-align: center;
	margin: 0 auto;
}

.team-members {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--spacing-m);
}

.team-members li {
	background-color: var(--color-purple-light);
	border-radius: var(--border-radius-medium);
	display: flex;
	flex-direction: row;
	padding: var(--spacing-m);
	flex-basis: calc(50% - var(--spacing-m));
}

.team-members li .image-wrapper {
	border-radius: var(--border-radius-full);
	border: 2px solid var(--color-off-white);
	margin-bottom: var(--spacing-m);
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.team-members li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.team-members li .person-text {
	display: flex;
	flex-direction: column;
	padding: var(--spacing-m) var(--spacing-l);
}

.team-members li h3 {
	font-size: var(--font-size-l);
	font-weight: var(--font-weight-bold);
	margin: 0;
}

.team-members li p {
	font-size: var(--font-size-m);
	line-height: var(--line-height-m);
	margin: var(--spacing-xs) 0;
	max-width: 100%;
}

.section-form {
	text-align: center;
	background-color: var(--color-purple);
	background-image: url("/assets/svgs/bigger-vector.svg");
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--color-off-white);
	padding: var(--spacing-xxl) var(--spacing-m);
}

.heading-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: var(--spacing-xxl) 0 var(--spacing-l);
}

.heading-centered h2,
.heading-centered p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.footer-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: var(--color-purple-dark);
	font-family: var(--font-lex-exa);
	font-weight: var(--font-weight-bold);
	color: var(--color-off-white);
	padding: var(--spacing-m);
	text-align: center;
}

footer span {
	font-size: var(--font-size-xxs);
}

footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-m);
}

footer a {
	color: var(--color-off-white);
	text-decoration: none;
}

@keyframes marquee {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

/*  Phone and Larger */
@media screen and (min-width: 375px) {
	.hero {
		padding: var(--spacing-xxl) var(--spacing-xs);
	}
}

/* Tablet & Larger */
@media screen and (min-width: 768px) {
	.hero {
		padding: var(--spacing-xxl) var(--spacing-m);
	}
}

/* Desktop */
@media screen and (min-width: 1024px) {
	.hero {
		padding: var(--spacing-xxl) var(--spacing-l);
	}
}
